<div class="survey-container">
  <div class="survey-header">
    <h2>Your Surveys</h2>
    <button mat-raised-button color="primary" routerLink="/survey/add">
      <mat-icon>add</mat-icon> Add Survey
    </button>
  </div>

    <div class="card-grid">
    @for (survey of surveys; track survey.id) {
        <mat-card class="survey-card" (click)="viewSurvey(survey)">
            <mat-card-title class="card-title">{{ survey.name }}</mat-card-title>
            <mat-card-subtitle>Created by {{ survey.creator }}</mat-card-subtitle>
            <mat-card-content>
                <p>Date Created: {{ survey.dateCreated | date: 'mediumDate' }}</p>
                <div class="status-container">
                    <span class="status-badge active">Active</span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary"
                    [routerLink]="['/survey/update', survey.urlName]"
                    (click)="$event.stopPropagation()">
                    <mat-icon>edit</mat-icon> Edit
                </button>
                <button mat-stroked-button color="warn"
                        (click)="openConfirm(survey.urlName); $event.stopPropagation()">
                    <mat-icon>delete</mat-icon> Delete
                </button>
            </mat-card-actions>
        </mat-card>
    }
    </div>
</div>